 <!-- bradcam_area_start  -->
 <div class="bradcam_area breadcam_bg_2 bradcam_overlay">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>Doctors</h3>
                    <p><a href="home">Home /</a> Doctors</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- bradcam_area_end  -->

<!-- expert_doctors_area_start -->
<div class="expert_doctors_area doctor_page">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="single_expert mb-40">
                    <div class="expert_thumb">
                        <img src="../assets/img/experts/1.png" alt="">
                    </div>
                    <div class="experts_name text-center">
                        <h3>Mirazul Alom</h3>
                        <span>Neurologist</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="single_expert mb-40">
                    <div class="expert_thumb">
                        <img src="../assets/img/experts/2.png" alt="">
                    </div>
                    <div class="experts_name text-center">
                        <h3>Mirazul Alom</h3>
                        <span>Neurologist</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="single_expert mb-40">
                    <div class="expert_thumb">
                        <img src="../assets/img/experts/3.png" alt="">
                    </div>
                    <div class="experts_name text-center">
                        <h3>Mirazul Alom</h3>
                        <span>Neurologist</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="single_expert mb-40">
                    <div class="expert_thumb">
                        <img src="../assets/img/experts/4.png" alt="">
                    </div>
                    <div class="experts_name text-center">
                        <h3>Mirazul Alom</h3>
                        <span>Neurologist</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="single_expert mb-40">
                    <div class="expert_thumb">
                        <img src="../assets/img/experts/6.png" alt="">
                    </div>
                    <div class="experts_name text-center">
                        <h3>Mirazul Alom</h3>
                        <span>Neurologist</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="single_expert mb-40">
                    <div class="expert_thumb">
                        <img src="../assets/img/experts/7.png" alt="">
                    </div>
                    <div class="experts_name text-center">
                        <h3>Mirazul Alom</h3>
                        <span>Neurologist</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="single_expert mb-40">
                    <div class="expert_thumb">
                        <img src="img/experts/8.png" alt="">
                    </div>
                    <div class="experts_name text-center">
                        <h3>Mirazul Alom</h3>
                        <span>Neurologist</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="single_expert mb-40">
                    <div class="expert_thumb">
                        <img src="img/experts/9.png" alt="">
                    </div>
                    <div class="experts_name text-center">
                        <h3>Mirazul Alom</h3>
                        <span>Neurologist</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- expert_doctors_area_end -->

<!-- testmonial_area_start -->
<div class="testmonial_area">
    <div class="testmonial_active owl-carousel">
        <div class="single-testmonial testmonial_bg_1 overlay2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-10 offset-xl-1">
                        <div class="testmonial_info text-center">
                            <div class="quote">
                                <i class="flaticon-straight-quotes"></i>
                            </div>
                            <p>Donec imperdiet congue orci consequat mattis. Donec rutrum porttitor <br>
                                sollicitudin. Pellentesque id dolor tempor sapien feugiat ultrices nec sed neque.
                                <br>
                                Fusce ac mattis nulla. Morbi eget ornare dui. </p>
                            <div class="testmonial_author">
                                <h4>Asana Korim</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-testmonial testmonial_bg_2 overlay2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-10 offset-xl-1">
                        <div class="testmonial_info text-center">
                            <div class="quote">
                                <i class="flaticon-straight-quotes"></i>
                            </div>
                            <p>Donec imperdiet congue orci consequat mattis. Donec rutrum porttitor <br>
                                sollicitudin. Pellentesque id dolor tempor sapien feugiat ultrices nec sed neque.
                                <br>
                                Fusce ac mattis nulla. Morbi eget ornare dui. </p>
                            <div class="testmonial_author">
                                <h4>Asana Korim</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-testmonial testmonial_bg_1 overlay2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-10 offset-xl-1">
                        <div class="testmonial_info text-center">
                            <div class="quote">
                                <i class="flaticon-straight-quotes"></i>
                            </div>
                            <p>Donec imperdiet congue orci consequat mattis. Donec rutrum porttitor <br>
                                sollicitudin. Pellentesque id dolor tempor sapien feugiat ultrices nec sed neque.
                                <br>
                                Fusce ac mattis nulla. Morbi eget ornare dui. </p>
                            <div class="testmonial_author">
                                <h4>Asana Korim</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- testmonial_area_end -->